.page-header {
  display: none;
}

button.anchor {
  -webkit-appearance: none;
  background: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
  text-align: inherit;
}

.brand_book {
  font-size: 0;
  aspect-ratio: 16/9;
  background-image: url('https://storage.unctad.org/brand/brandpage/_web_BRAND_page_v0_big_header_image_II_.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: auto auto 40px auto;
  max-width: 1350px;
}

.brand_heading {
  max-width: 1350px;
  margin: auto auto 20px auto;
  .content {
    margin: auto auto;
    max-width: 1000px;
    h2 {
      margin-bottom: 10px;
      &:after {
        display: none;
      }
    }
    p {
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.brand_logos {
  font-size: 0;
  margin: auto auto 20px auto;
  max-width: 1350px;
  .d-flex {
    flex-wrap: wrap;
    justify-content: flex-end;
    div {
      width: calc(100% / 6);
      @media all and (max-width: 768px) {
        width: calc(100% / 3);
      }
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}
.brand_intro {
  aspect-ratio: 16/9;
  background-image: url('https://storage.unctad.org/brand/brandpage/_web_BRAND_page_v0_III_bkg_banner_brandbook_.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto auto 20px auto;
  max-width: 1350px;
  position: relative;
   .overlay {
    background-color: transparent;
    top: 0;
    height: 100%;
    right: 20px;
    margin: auto auto;
    position: absolute;
    max-width: 300px;
    &:hover {
      background-color: transparent;
    }
    .anchor {
      color: #000;
      display: block;
      text-decoration: none;
      width: 100%;
      display: flex;
      height: 100%;
      &:hover {
        .content {
          .download {
            text-decoration-skip-ink: none;
            text-decoration-thickness: 1px;
            text-decoration: underline;
          }
        }
      }
      .content {
        display: block;
        margin: auto auto;
        max-width: 1000px;
        width: 100%;
        h2 {
          color: #000;
          display: inline-block;
          margin: 0 0 10px 0;
          padding-right: 50px;
          position: relative;
          &:after {
            display: none;
          }
        }
        p {
          color: #000;
          font-size: 20px;
          font-weight: 600;
          max-width: 500px;
        }
        .download {
          display: inline-block;
          padding-right: 36px;
          position: relative;
          text-transform: uppercase;
          &:after {
            background-image: url('https://storage.unctad.org/brand/brandpage/icon_download_black.png');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 30px 30px;
            content: '';
            display: inline-block;
            height: 30px;
            position: absolute;
            right: 0;
            top: -3px;
            width: 30px;
          }
        }
      }
    }
  }
}
.brand_materials {
  background-image: url('https://storage.unctad.org/brand/brandpage/_web_BRAND_page_v0_bkg_Quick_downloads_.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: auto auto;
  max-width: 1350px;
  .layout--fourcol-section {
    display: flex;
    flex-wrap: wrap;
  }
  .layout--fourcol-section > .layout__region {
    flex: 0 1 25%;
  }
  .arrow {
    margin: auto auto;
    max-width: 1000px;
    position: relative;
    &:before {
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 50px solid #fff;
      content: '';
      height: 0;
      position: absolute;
      right: calc(2px);
      top: 0;
      width: 0;
      z-index: 1;
    }
  }
  .content {
    margin: auto auto;
    max-width: 1000px;
    h2 {
      box-sizing: border-box;
      margin: 0 0 40px 0;
      padding-top: 20px;
      &:after {
        display: none;
      }
    }
    .layout_wrapper {
      padding-bottom: 40px;
      position: relative;
      font-size: 0;
      &:after {
        background-color: #fff;
        content: '';
        display: block;
        height: 20px;
        margin: 5px auto auto auto;
        width: calc(100% - 10px);
      }
      .layout--fourcol-section > .layout__region {
        overflow: hidden;
      }
      .anchor {
        text-decoration: none;
        &:hover {
          .button {
            text-decoration-skip-ink: none;
            text-decoration-thickness: 1px;
            text-decoration: underline;
          }
        }
        .downloads_container {
          margin: 5px;
          overflow: hidden;
          display: block;
          padding: 20px 0 0 0;
          position: relative;
          transition: filter 0;
          &.blue {
            color: #fff
          }
          &.white {
            color: #000
          }
          &:hover {
            filter: brightness(0.95) grayscale(1);
            transition: filter 0.3s;
          }
          &:before {
            border-style: solid;
            border-width: 0 20px 20px;
            content: '';
            left: 0;
            position: absolute;
            right: 20%;
            top: 0;
          }
          &:after {
            border-color: transparent transparent #fff transparent;
            border-style: solid;
            border-width: 0 0 20px 20px;
            content: '';
            left: 80%;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 21%;
          }
          &.white {
            &:before {
              border-color: #fff transparent #fff #fff;
            }
            &:after {
              border-color: transparent transparent #fff transparent;
            }
            .download_container {
              background-color: #fff;
              .image_container {
                &:after {
                  border-top: 20px solid #fff;
                }
              }
            }
          }
          &.blue {
            &:before {
              border-color: #004987 transparent #004987 #004987;
            }
            &:after {
              border-color: transparent transparent #004987 transparent;
            }
            .download_container {
              background-color: #004987;
              .image_container {
                &:after {
                  border-top: 20px solid #004987;
                }
              }
            }
          } 
          .download_container {
            display: block;
            padding: 0 15px 15px 15px;
            .image_container {
              display: block;
              margin-bottom: 5px;
              position: relative;
              &:after {
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                top: 0;
                content: '';
                height: 0; 
                right: calc(20% - 30px);
                position: absolute;
                width: 0; 
                z-index: 1;
              }
              img {
                width: 100%;
                padding: 0;
                margin: 0;
              }
            }
            h3 {
              font-weight: 600;
              margin: 0;
            }
            h4 {
              font-size: 16px;
              font-weight: 500;
              margin: 0 0 20px 0;
            }
            .button {
              display: block;
              font-size: 14px;
              font-weight: 300;
              letter-spacing: 0.02em;
              padding-right: 36px;
              position: relative;
              text-align: right;
              text-transform: uppercase;
              &:after {
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: 30px 30px;
                content: '';
                display: block;
                height: 30px;
                position: absolute;
                right: 0;
                top: -3px;
                width: 30px;
              }
              &.contact {
                &:after {
                  background-image: url('https://storage.unctad.org/brand/brandpage/_button_contact_2.png');
                }
              }
              &.download {
                &:after {
                  background-image: url('https://storage.unctad.org/brand/brandpage/_button_dark_grey_.png');
                }
              }
              &.locked {
                &:after {
                  background-image: url('https://storage.unctad.org/brand/brandpage/_button_locked_grey_.png');
                }
              }
            }
          }
        }
      }
    }
  }
}