.events_container {
  >.row {
    background-color: rgba(1,72, 136, 1.0);
    color: #fff;
    .main_event {
      background-color: rgba(227, 237, 246, 1.0);
      color: rgba(1,72, 136, 1.0);
      h3 {
        font-size: $titlesize_medium;
        font-weight: 600;
      }
      h4 {
        font-size: $titlesize_small;
      }
    }
    h3 {
      font-family: 'Helvetica Neue Medium';
      font-size: $titlesize_small;
      font-weight: 600;
    }
    h4 {
      font-family: 'Helvetica Neue Light';
      font-size: $titlesize_verysmall;
    }
    img {
      border: 10px solid #fff;
      width: 100%
    }
    .all {
      background-color: rgba(227, 237, 246, 1.0);
      border: 0;
      color: rgba(1,72, 136, 1.0);
      display: block;
      font-weight: 600;
      height: 60px;
      text-transform: uppercase;
      vertical-align: middle;
      width: 100%;
    }
  }
}