.header_container {
  .row {
    .col {
      .logo_container {
        .logo {
          height: 90px;
        }
      }
      .quick_links {
        .quick_link {
          background-color: #daebf7;
          color: $unbluedarktext;
          font-family: 'Helvetica Neue Medium';
          font-size: 14px;
          height: 50px;
          line-height: 14px;
          padding: 5px 20px 0 65px;
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          width: 200px;
          &:hover {
            color: #000;
          }
          &:before {
            background-image: url('./assets/img/unctad_60.png');
            background-repeat: no-repeat;
            background-size: auto 100%;
            content: '';
            height: 34px;
            left: 20px;
            position: absolute;
            top: 8px;
            width: 100%;
          }
          &.quick_link_1 {
            &:before {
              background-image: url('./assets/img/unctad_60.png');
            }
          }
          &.quick_link_2 {
            &:before {
              background-image: url('./assets/img/global_supply_chain_forum.png');
            }
          }
          &.quick_link_3 {
            &:before {
              background-image: url('./assets/img/global_crisis.png');
            }
          }
          div {
            &:before {
              border-bottom: 12px solid transparent;
              border-left: 15px solid #fff;
              border-top: 12px solid transparent;
              clear: both;
              content: '';
              height: 0;
              left: 0px;
              position: absolute;
              top: 5px;
              width: 0;
            }
            &:after {
              border-bottom: 12px solid transparent;
              border-right: 15px solid #fff;
              border-top: 12px solid transparent;
              bottom: 5px;
              clear: both;
              content: '';
              height: 0;
              position: absolute;
              right: 0px;
              width: 0;
            }
          }
        }
      }
      .login_container {
        a {
          color: #000;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}