.highlight_container {
  >.row {
    aspect-ratio: 16/9;
    .col {
      .row {
        &.background {
          background-image: url('./assets/img/image2.jpg');
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: 100% auto;
        }
        .col-5 {
          .h-40 {
            height: 40%;
          }
          .background {
            background-color: rgba(0, 0, 0, 0.7);
            bottom: 0;
            left: 0;
            width: 100%;
          }
          .headlines {
            color: #fff;
            height: 40%;
            z-index: 2;
            &:hover {
              a {
                text-decoration: underline;
              }
            }
            h3 {
              font-family: 'Helvetica Neue Heavy Condensed';
              font-size: $titlesize_big;
              font-weight: 600;
              a {
                color: #fff;
                text-decoration: none;
              }
  
            }
            h4 {
              font-family: 'Helvetica Neue Heavy Condensed';
              font-size: $titlesize_medium;
              a {
                color: #fff;
                text-decoration: none;
              }
            }
          }
        }
        .col-7 {
          .secondary_highlight_container {
            > div {
              background-color: rgba(255, 255, 255, 0.6);
              .block_content {
                background-color: #fff;
                display: flex;
                flex-direction: column;
                height: 100%;
                &:hover {
                  .content_link {
                    text-decoration: underline;
                  }
                }
                .content_link {
                  color: #000;
                  text-decoration: none;
                }
                .image_container {
                  position: relative;
                  img {
                    width: 100%;
                  }
                }
                h3 {
                  font-family: 'Helvetica Neue Heavy Condensed';
                  font-size: $titlesize_medium;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }

    }
  }
}