.menu_container {
  .row {
    position: relative;
    .col {
      .row {
        &.background {
          background-color: #4d4d4d;
        }
        .col {
          .menu_items_container {
            list-style: none;
            margin: 0;
            margin: auto auto;
            padding: 0;
            .menu_item_container {
              border-right: 1px solid #f2f2f2;
              display: inline-block;
              height: 40px;
              line-height: 45px;
              list-style: none;
              margin: 0;
              padding: 0;
              a {
                color: #fff;
                display: block;
                text-decoration: none;
                width: 100%;
                &:hover {
                  background-color: #f2f2f2;
                  color: #000;
                }
              }
            }
          }
          .search_container {
            list-style: none;
            margin: 0;
            margin: auto auto;
            padding: 0;
            button {
              background-color: transparent;
              border: 0;
              color: #fff;
              height: 40px;
              line-height: 45px;;
              text-decoration: none;
            }
          }
        }
      }
    }
    .megamenu_container {
      background-color: rgba(224, 237, 246, 1);
      position: absolute;
      top: 40px;
      width: 100%;
      z-index: 4;
      .megamenu_content {
        h2 {
          font-size: $titlesize_big;
          margin: 0 0 10px 0;
        }
        .row {
          .col {
            a {
              border: 0;
              color: rgba(1,72, 136, 1.0);
              display: inline;
              font-family: Helvetica Neue Medium;
              padding: 0;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
              .label {
                font-family: Helvetica Neue Light;
              }
            }
            p {
              max-width: 700px;
            }
            &.right_column,
            &.left_column {
              h2 {
                font-size: $titlesize_semibig;
              }
            }
            li {
              background-color: transparent;
              font-family: Helvetica Neue Medium;
            }
            .visual_list {
              display: flex;
              flex-wrap: wrap;
              list-style: none;
              margin: 0;
              padding: 0;
              li {
                background-color: transparent;
                display: inline-block;
                margin-bottom: 20px;
                width: calc(100% / 3);
                &:hover {
                  a {
                    color: #000;
                    text-decoration: underline;
                  }
                }
                img {
                  border: 4px solid #fff;
                  margin-bottom: 5px;;
                  width: 150px;
                }
              }
            }
          }
          .right_column {
            border-left: 2px solid rgba(180, 189, 194, 1);
          }
        }
      }
    }
  }
}