.news_article {
  margin-top: 100px;
  max-width: 800px;
  .title_container {
    h2 {
      font-family: Helvetica Neue Heavy;
      font-size: 44px;
      line-height: 44px;
      margin: 0 0 20px 0;
    }
    h3 {
      font-family: Helvetica Neue Medium;
      margin: 0 0 20px 0;
      font-size: 24px;
      line-height: 32px;
    }
    h4 {
      font-family: Helvetica Neue Light;
      font-size: 18px;
      line-height: 18px;
      margin: 0 0 20px 0;
    }
    figure {
      margin: 0 0 20px 0;
      img {
        width: 100%;
        margin-bottom: 5px;
      }
      figcaption {
        font-size: 16px;
        color: #444;
        strong {
          font-family: Helvetica Neue Bold;
        }
      }
    }
  }
  .content_container {
    figure {
      margin: 20px 20px;
      img {
        width: 100%;
        margin-bottom: 5px;
      }
      figcaption {
        font-size: 16px;
        color: #444;
        strong {
          font-family: Helvetica Neue Bold;
        }
      }
    }
    h4 {
      font-family: Helvetica Neue Bold;
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 20px 0;
    }
    ul,
    ol,
    p {
      font-family: Helvetica Neue Light;
      font-size: 19px;
      line-height: 28px;
      margin: 0 0 20px 0;
      strong {
        font-family: Helvetica Neue Bold;
      }
      em {
        font-family: Helvetica Neue Light Italic;
      }
      a {
        color: #000;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }



  .title_container.inter {
    h2 {
      font-family: Inter;
      font-weight: 900;
      font-size: 44px;
      line-height: 50px;
      margin: 0 0 20px 0;
    }
    h3 {
      font-family: Inter;
      font-weight: 700;
      margin: 0 0 20px 0;
      font-size: 24px;
      line-height: 32px;
    }
    h4 {
      font-family: Inter;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      margin: 0 0 20px 0;
    }
    figure {
      margin: 0 0 20px 0;
      img {
        width: 100%;
        margin-bottom: 5px;
      }
      figcaption {
        font-size: 16px;
        color: #444;
        strong {
          font-family: Inter;
          font-weight: 700;
        }
      }
    }
  }

  .content_container.inter {
    figure {
      margin: 20px 20px;
      img {
        width: 100%;
        margin-bottom: 5px;
      }
      figcaption {
        font-size: 16px;
        color: #444;
        strong {
          font-family: Inter;
          font-weight: 700;;
        }
      }
    }
    h4 {
      font-family: Inter;
      font-weight: 700;;
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 20px 0;
    }
    ul,
    ol,
    p {
      font-family: Inter;
      font-weight: 300;
      font-size: 19px;
      line-height: 26px;
      margin: 0 0 20px 0;
      strong {
        font-weight: 700;
      }
      em {
        font-style: italic;
      }
      a {
        color: #000;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}