.share_container {
  position: absolute;
  right: 0;
  top: 0;
  .icon_container {
    button {
      margin-top: 5px;
      background-color: transparent;
      border: 0;
      height: 30px;
      img {
        height: 35px;
        width: 35px;
      }
    }
  }
  .share_buttons {
    display: none;
    font-size: 0;
    position: absolute;
    right: 50px;
    text-align: right;
    top: 5px;
    width: calc(3px * 4 + 35px * 3);
    .share_button {
      display: inline-block;
      position: relative;
      a {
        background-color: #009edb;
        border-radius: 50%;
        border: 0;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        height: 35px;
        line-height: 30px;
        margin: 2px 2px;
        text-align: center;
        text-decoration: none;
        width: 35px;
        &:hover {
          background-color: #004987;
        }
      }
      .copied_message {
        font-size: 12px;
        left: -30px;
        line-height: 12px;
        opacity: 0;
        position: absolute;
        text-align: center;
        text-shadow: 1px 1px 5px #f1f1f1;
        text-transform: uppercase;
        top: 35px;
        transition: opacity 1s;
        width: 100px;
        &.active {
          transition: opacity 0s;
        }
      }
    }
  }
}