.statements_container {
  >.row {
    background-color: rgba(227, 237, 246, 1.0);
    color: rgba(1,72, 136, 1.0);
    .main_statement {
      background-color: rgba(1,72, 136, 1.0);
      color: #fff;
      h3 {
        font-size: 22px;
        font-weight: 600;
      }
      h4 {
        font-size: 16px;
      }
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
    }
    h4 {
      font-size: 14px;
    }
    img {
      border: 10px solid #fff;
      width: 100%
    }
    .all {
      background-color: rgba(1,72, 136, 1.0);
      border: 0;
      color: #fff;
      display: block;
      font-weight: 600;
      height: 60px;
      text-transform: uppercase;
      vertical-align: middle;
      width: 100%;
    }
  }
}