//@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600.css');
// Import all of Bootstrap's CSS
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './colors.scss';

$titlesize_big: 38px;
$titlesize_medium: 22px;
$titlesize_small: 18px;
$titlesize_verysmall: 14px;

@font-face {
  font-family: 'Helvetica Neue Heavy Condensed';
  src: url('assets/fonts/HelveticaNeueLTStd-HvCn.otf');
}
@font-face {
  font-family: 'Helvetica Neue Heavy';
  src: url('assets/fonts/HelveticaNeueLTStd-Hv.otf');
}
@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('assets/fonts/HelveticaNeueLTStd-Md.otf');
}
@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('assets/fonts/HelveticaNeueLTStd-Lt.otf');
}

#app-root-2024-unctad_homepage {
  font-family: 'Helvetica Neue Light';
  .content {
    background-color: rgba(192, 208, 221, 1);
  }
  .with_border {
    &:after {
      border-bottom: 2px solid rgba(1,72, 136, 1.0);
      content: '';
      display: inline-block;
      width: 100%;
    }
  }
  .with_border_light {
    &:after {
      border-bottom: 2px solid rgba(227, 237, 246, 1.0);
      content: '';
      display: inline-block;
      width: 100%;
    }
  }
  h2 {
    font-size: $titlesize_big;
    font-family: 'Helvetica Neue Heavy Condensed';
    font-weight: 600;
    margin: 20px 0 20px 0;
  }
  @import './top_bar.scss';
  @import './header_container.scss';
  @import './menu_container.scss';
  @import './highlight_container.scss';
  @import './publications_container.scss';
  @import './datavisualisations_container.scss';
  @import './media_container.scss';
  @import './news_container.scss';
  @import './events_container.scss';
  @import './statements_container.scss';
  @import './share_container.scss';
}